<!DOCTYPE html>
<html>
  <head>
    <title>Helpful Atm - The only ATM that is actually 24 hours a day</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('helpful-atm_head_icon.png') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
